@import url(geral.css);
.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    color: white;
    background-color: #750808;;
    border: 4px white solid;
    border-radius: 10px;
    padding: 10px;
    
    
}
.flex>div {
    flex: 1 1 150px;
    margin: 20px;
    padding: 20px;
    background:gray;
    background-color: #750808;
    text-align: center;
    border-radius: 10px;
    border: 4px white solid;
    
    
}